page-update-building {
    ion-content {
        background: linear-gradient(#3010d2 50%, white 65%);

        .bar-buttons-md {
          text-align: right;
        }

        .btn-close {
          background-color: #3010d2;
          ion-icon {
            font-size: 1.8em;
            color: white;
          }
        }

        .btn-ok {
          background-color: #3010d2;
          position: absolute;
          right: 5%;
          top: 2%;
          ion-icon {
            font-size: 1.8em;
            color: white;
          }
        }
        .segment {
          background-color: #3010d2;
          padding: 3px 5px;
          ion-segment-button.segment-button.segment-activated {
              color: white !important;
              border-color: white !important;
          }
          ion-segment-button.segment-button {
              color: white !important;
          }
        }
    
        .box {
          background-color: white;
          // -webkit-box-shadow: 10px 10px #ffffff;
          box-shadow: 0 2px 2px silver;
          padding: 20px 10px;
          border-radius: 10px;
        }

        .address {
          margin: 15px 15px 30px 15px;
          ion-label {
            color: #999;
          }
          .button {
            width: 100%;
          }
        }

        .uploadimage {
          button.disable-hover.button.button-md.button-default.button-default-md {
            box-shadow: none !important;
            font-size: 30px;
            color: color($colors, primary);
            background: transparent !important;
          }
          img#checkinImage {
            border-radius: 200px;
            width: 90px;
            height: 90px;
            object-fit: cover;
          }
        }

        .picture {
          display: flex;
          .uploadimage1 {
            margin-left: 10%;
            margin-right: 10%;
            button.disable-hover.button.button-md.button-default.button-default-md {
              box-shadow: none !important;
              font-size: 30px;
              color: color($colors, primary);
              background: transparent !important;
            }
            img#checkinImage {
              border-radius: 200px;
              width: 90px;
              height: 90px;
              object-fit: cover;
            }
          }
        }

        .notes {
          color: white;
        }

        .tNc {
          display: flex;
          margin-top: 20%;
          margin-bottom: -10%;
          .checkbox {
            margin-right: 5%;
            margin-top: 4%;
          }
        }
    
        .logo {
          height: 150px;
          position: relative;
          top: 15px;
        }
    
        .heading {
          color: lightgrey;
        }
    
        .button-enable {
          background-color: color($colors,btn-primary) !important;
        }

        .button-disable {
          color: gray;
          background-color: lightgray;
        }
        .switch {
          .button-md {
            width: 50%;
            margin-top: 5%;
          }
        }
        ion-grid {
          .button-md {
            width: 100%;
          }
        }
    }
}
