<!--
  Generated template for the DetailTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <div class="atas">
      <ion-title>DETAIL TRANSAKSI</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="list">
      <ion-label class="title">ID BOOKING</ion-label>
      <h5>{{ detailTrx?.transactionId }}</h5>
    </div>
    <div class="list">
      <ion-label class="title">TANGGAL BOOKING</ion-label>
      <h5>{{ formatDate(detailTrx?.date) }}</h5>
    </div>
    <div class="list">
      <ion-label class="title">WAKTU BOOKING</ion-label>
      <h5>{{ detailTrx?.time }}</h5>
    </div>
    <div class="list">
      <ion-label class="title">CATATAN</ion-label>
      <h5>{{ detailTrx?.notes }}</h5>
    </div>
    <div class="list">
      <ion-label class="title">STATUS TRANSAKSI</ion-label>
      <h5>{{ detailTrx?.status }}</h5>
    </div>
    <div class="list">
      <ion-label class="title">TOTAL</ion-label>
      <h5>{{ dataBuilding?.price | currency:'IDR '}}</h5>
    </div>
    <div class="list" *ngIf="user?.role == 1">
      <ion-label class="verify-payment" text-center (click)="goVerify(detailTrx?.transactionId, detailTrx?.proofOfPayment)">VIEW PROOF OF PAYMENT</ion-label>
    </div>
    <div class="list building-name verify">
      <ion-thumbnail item-left>
        <img src="{{ srcImage + dataBuilding?.photoId + '/' + dataBuilding?.profil}}" alt="">
      </ion-thumbnail>
      <div class="info">
        <ion-label heading>{{ dataBuilding?.buildingName }}</ion-label>
        <ion-label line_2>{{ dataBuilding?.address }}</ion-label>
      </div>
    </div>
    <div class="notes-payment" *ngIf="detailTrx?.status == 'DIBAYAR' && user?.role == 2">
      <h6 text-center>MENUNGGU VERIFIKASI PEMBAYARAN</h6>
      <p text-center>Estimasi 24 jam untuk verifikasi pembayaran, harap tunggu verifikasi pembayaran dari pihak pengelola gedung</p>
    </div>

</ion-content>
<ion-footer>
  <div class="btn-pay">
      <div *ngIf="detailTrx?.status == 'DIBAYAR' && user?.role == 1">
        <button ion-button color="secondary" (click)="verifyConfirm()">
          VERIFIKASI PEMBAYARAN
        </button>
        <button ion-button color="danger" (click)="goRejectPage(detailTrx?.transactionId)">
          TOLAK TRANSAKSI
        </button>
      </div>
      <div *ngIf="detailTrx?.status == 'BOOKING' && user?.role == 1">
        <button ion-button color="secondary" (click)="checkinConfirm()">
          CHECKIN
        </button>
      </div>
      <div *ngIf="detailTrx?.status == 'CHECKIN'  && user?.role == 1">
        <button ion-button color="secondary" (click)="finishConfirm()">
          SELESAI
        </button>
      </div>
      <div *ngIf="detailTrx?.status == 'CHECKOUT' && user?.role == 2">
        <button ion-button color="secondary" (click)="goUploadPayment(detailTrx?.transactionId)">
          BAYAR SEKARANG
        </button>
      </div>
      <div *ngIf="detailTrx?.status == 'CHECKIN' && user?.role == 2">
        <button ion-button color="secondary" (click)="finishConfirm()">
          SELESAI
        </button>
      </div>
      <div *ngIf="detailTrx?.status == 'SELESAI' && detailTrx?.rated == 0 && user?.role == 2">
        <button ion-button color="secondary" (click)="goRate()">
          BERI PENILAIAN
        </button>
      </div>
  </div>
</ion-footer>