page-detail-transaction {  
    ion-content {
        .list {
            border-bottom: thin solid lightgrey;
            padding: 10px;
            .title {
                color: gray;
            }
            .verify-payment {
                color: color($colors,btn-primary) !important;
            }
            img {
                height: 80px;
                margin-bottom: 15px;
                margin-right: 15px;
                max-width: 150px;
                object-fit: cover;
            }
            .info {
                overflow: hidden;
            }
              
        }

        .notes-payment {
            margin-top: -50px;
            margin-bottom: 30px;
            h6 {
                color: gray;
            }
            p {
                color: black;
            }
        }

        .verify {
            margin-bottom: 20%;
        }

        .building-name {
            display: flex;
        }   
    }

    ion-footer {
        .btn-pay {
            text-align: center;
            .button {
                width: 95%;
                padding: 10px;
            }
        }
    }

}
