<ion-header>
</ion-header>

<ion-content padding>
  <div mt_50 class="container" text-center>
    <img src="assets/imgs/logo-1.png" alt="" class="logo">
    <!-- <ion-label heading class="heading">LOGIN</ion-label> -->
  </div>


  <div class="box" mt_30>
    <ion-item transparent>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="formData.email"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Kata Sandi</ion-label>
      <ion-input type="password" [(ngModel)]="formData.password"></ion-input>
    </ion-item>
    <button (click)="doLogin()" mt_30 ion-button full>MASUK</button>
    <!-- <button (click)="goHome()" mt_30 ion-button full>LOGIN</button> -->
    <ion-label text-center mt_30>Anda tidak memiliki akun? <span text_danger (click)="goRegist()">Registrasi</span></ion-label>
  </div>

</ion-content>