<input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />

<ion-header>
</ion-header>

<ion-content padding>
  <div class="segment">
    <ion-segment [(ngModel)]="building">
      <ion-segment-button value="detail">
        DETAIL
      </ion-segment-button>
      <ion-segment-button value="facility">
        FASILITAS
      </ion-segment-button>
      <ion-segment-button value="bank-account">
        AKUN BANK
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="building">
    <!-- start, Segment Detail -->
    <div *ngSwitchCase="'detail'">
      <div mt_50 class="container" text-center>
        <ion-label heading class="heading">DATA GEDUNG</ion-label>
      </div>

      <div class="box" mt_30>

        <ion-item transparent>
          <ion-label floating>Nama Gedung</ion-label>
          <ion-input type="text" [(ngModel)]="formData.buildingName"></ion-input>
        </ion-item>

        <!-- <ion-item transparent>
          <ion-label floating>Address</ion-label>
          <ion-textarea [(ngModel)]="formData.address"></ion-textarea>
        </ion-item> -->

        <ion-item transparent>
          <ion-label floating>No. Telepon</ion-label>
          <ion-input type="number" [(ngModel)]="formData.phone"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Kapasitas (Jumlah Orang)</ion-label>
          <ion-input type="number" [(ngModel)]="formData.capacity"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Harga</ion-label>
          <ion-input type="number" [(ngModel)]="formData.price"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Info Selengkapnya</ion-label>
          <ion-textarea [(ngModel)]="formData.moreInfo"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label white floating>Kota</ion-label>
          <ion-select white [(ngModel)]="formData.city">
            <ion-option value="Bekasi">Bekasi</ion-option>
            <ion-option value="Jakarta">Jakarta</ion-option>
          </ion-select>
        </ion-item>

        <div class="address">
          <ion-label>Alamat</ion-label>
          <p *ngIf="formData.address"> {{ formData.address }}</p>
          <button (click)="openMaps()" *ngIf="!formData.address" ion-button>CARI ALAMAT DI PETA</button>
          <button (click)="openMaps()" *ngIf="formData.address" ion-button>UPDATE ALAMAT DARI PETA</button>
        </div>

        <div class="uploadimage" text-center>
          <ion-label>Upload Foto Profil Gedung</ion-label>
          <ion-label class="notes">*rekomendasi resolusi untuk Foto Profil Gedung<br> 150 x 230 PX</ion-label>
          <!-- HASIL UPLOAD -->
          <div>
            <span *ngIf="imageData != null">
              <img id="checkinImage" [src]="globalProvider.pathImage(imageData)" />
            </span>
          </div>
          <button ion-button>
            <ion-icon ios="ios-camera" md="md-camera" (click)="optionUpload('profil')"></ion-icon>
          </button>
        </div>
        <div class="picture">
          <div class="uploadimage1" text-center>
            <ion-label>Foto Gedung 1</ion-label>
            <!-- HASIL UPLOAD -->
            <div>
              <span *ngIf="imageData_1 != null">
                <img id="checkinImage" [src]="globalProvider.pathImage(imageData_1)" />
              </span>
            </div>
            <button ion-button>
              <ion-icon md="md-add-circle" (click)="optionUpload('photo1')"></ion-icon>
            </button>
          </div>

          <div class="uploadimage1" text-center>
            <ion-label>Foto Gedung 2</ion-label>
            <!-- HASIL UPLOAD -->
            <div>
              <span *ngIf="imageData_2 != null">
                <img id="checkinImage" [src]="globalProvider.pathImage(imageData_2)" />
              </span>
            </div>
            <button ion-button>
              <ion-icon md="md-add-circle" (click)="optionUpload('photo2')"></ion-icon>
            </button>
          </div>
        </div>

        <div class="picture">
          <div class="uploadimage1" text-center>
            <ion-label>Foto Gedung 3</ion-label>
            <!-- HASIL UPLOAD -->
            <div>
              <span *ngIf="imageData_3 != null">
                <img id="checkinImage" [src]="globalProvider.pathImage(imageData_3)" />
              </span>
            </div>
            <button ion-button>
              <ion-icon md="md-add-circle" (click)="optionUpload('photo3')"></ion-icon>
            </button>
          </div>

          <div class="uploadimage1" text-center>
            <ion-label>Foto Gedung 4</ion-label>
            <!-- HASIL UPLOAD -->
            <div>
              <span *ngIf="imageData_4 != null">
                <img id="checkinImage" [src]="globalProvider.pathImage(imageData_4)" />
              </span>
            </div>
            <button ion-button>
              <ion-icon md="md-add-circle" (click)="optionUpload('photo4')"></ion-icon>
            </button>
          </div>
        </div>
      </div>
      <div text-right class='switch'>
        <button (click)="nextSwitch('facility')" ion-button text-center>Selanjutnya</button>
      </div>
    </div>
    <!-- end, Segment Detail -->
    <!-- start, Segment Facility -->
    <div *ngSwitchCase="'facility'">
      <div mt_50 class="container" text-center>
        <ion-label heading class="heading">FASILITAS GEDUNG</ion-label>
        <ion-label class="notes">* Silahkan isi formulir berikut <br> untuk menginformasikan fasilitas <br> yang
          tersedia di gedung anda</ion-label>
      </div>

      <div class="box" mt_30>

        <ion-item transparent>
          <ion-label floating>Fasilitas 1</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f1"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 2</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f2"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 3</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f3"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 4</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f4"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 5</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f5"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 6</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f6"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 7</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f7"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 8</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f8"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 9</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f9"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Fasilitas 10</ion-label>
          <ion-input type="text" [(ngModel)]="formData.f10"></ion-input>
        </ion-item>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col col-6><button class='back' (click)="nextSwitch('detail')" ion-button text-left>Kembali</button>
          </ion-col>
          <ion-col col-6><button class='next' (click)="nextSwitch('bank-account')" ion-button
              text-right>Selanjutnya</button></ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <!-- end, Segment Facility -->
    <!-- start, Segment Banck Account -->
    <div *ngSwitchCase="'bank-account'">
      <div mt_50 class="container" text-center>
        <ion-label heading class="heading">AKUN BANK</ion-label>
        <ion-label class="notes">* Silahkan isi formulir berikut <br> untuk menginformasikan rekening bank <br> yang
          digunakan untuk
          transfer dana</ion-label>
      </div>

      <div class="box" mt_30>
        <ion-item transparent>
          <ion-label floating>Nama Bank</ion-label>
          <ion-input type="text" [(ngModel)]="formData.bank"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Nomor Rekening</ion-label>
          <ion-input type="number" [(ngModel)]="formData.accountNumber"></ion-input>
        </ion-item>

        <ion-item transparent>
          <ion-label floating>Nama Pemilik Rekening</ion-label>
          <ion-input type="text" [(ngModel)]="formData.accountName"></ion-input>
        </ion-item>

        <div class="tNc">
          <ion-checkbox checked="false" [(ngModel)]="tNc"></ion-checkbox>
          <ion-label>Saya setuju dengan <span text_danger>Syarat & Ketentuan</span><br> yang berlaku</ion-label>
        </div>
        <button *ngIf="tNc == true" (click)="doRegist()" mt_30 ion-button full class="button-enable">DAFTAR</button>
        <button *ngIf="tNc == false" mt_30 ion-button full color="danger" class="button-disable"
          disabled="true">DAFTAR</button>
        <!-- <ion-label text-center mt_30>Do You Have An Account? <span text_danger (click)="goLogin()">Sign</span>
        </ion-label> -->
      </div>
      <div text-left class='switch'>
        <button (click)="nextSwitch('facility')" ion-button text-center>Kembali</button>
      </div>
    </div>
    <!-- start, Segment Banck Account -->
  </div>

</ion-content>