<ion-tabs>
    <ion-tab [root]="userTabRoot" tabTitle="User tab" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="transactionRoot" tabTitle="Transaction" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="userProfileRoot" tabTitle="User profile" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="logoutRoot" tabTitle="Logout" tabIcon="information-circle"></ion-tab>
</ion-tabs>
