page-notification {
    ion-navbar {
        ion-icon {
            font-size: 1.9em;
        }
    }
    ion-content {
        .list {
            background-color: lavender;
            padding-top: 3px;
            padding-bottom: 3px;
            border-bottom: 1px solid grey;
            padding-left: 4%;
            .date {
                text-align: right;
                color: gray;
                margin-right: 4%;
            }
        }
        .notif-null {
            text-align: center;
            margin-top: 10%;
            img {
                height: 100px;
            }
            h6 {
                color:#beb7b7;
            }
        }
    }

}
