<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>PEMBERITAHUAN</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="globalProvider.notif?.notification.length > 0">
    <div *ngFor="let notif of globalProvider.notif?.notification">
      <div class="list" (click)="goNotification(notif)">
        <h5>{{ notif.title}}</h5>
        <ion-label line_2>{{ notif.description }}</ion-label>
        <ion-label class="date">{{ formatDate(notif.createdAt) }}</ion-label>
      </div>

    </div>
    
  </div>
  <div class="notif-null" *ngIf="globalProvider.notif?.notification.length == 0">
    <img src="assets/imgs/notification-null.png" alt="">
      <h6>Anda tidak memiliki pemberitahuan saat ini</h6>
  </div>
  
</ion-content>