<ion-header>
  <ion-navbar color="primary">
    <ion-title>INPUT ADDRESS</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android, windows">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <maps-component
    name="maps" ngDefaultControl
    [location]="location"
    [mode]="'picklocation'"
    [radius]="true"
    [drawMap]="false"
    (data)="dataLocation($event)"
    [polygon]="polygon"
    [(ngModel)]="dataMap">
  </maps-component>

<!--  <button ion-button (click)="dataLocation()">button</button>-->
</ion-content>
