page-home-management {
    ion-navbar.toolbar.toolbar-md {
        padding: 10px 10px 0px 0px;
        .container-notification{
          height: 50px;
          width: 100%;
          display: flex;
          .greeting {
            margin-right: 3%;
            margin-bottom: 3%;
            position: absolute;
            left: 5%;
            top: 5%;
  
            h6 {
              color: white;
            }
          }
          .notification {
            margin-right: 3%;
            margin-bottom: 3%;
            position: absolute;
            right: 1%;
            ion-icon {
              font-size: 2.0em;
              color: white;
            }
          }
          .badge {
            background-color: red;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            text-align: center;
            line-height: 15px;
            position: relative;
            top: 14px;
            font-size: 14px;
            color: blue;
            right: 7px;
          }
  
        }
        .atas {
          display: flex;
          //flex-direction: row-reverse;
          align-items: center;
          button {
            position: absolute;
          }
          ion-title {
            padding-left: 50px;
          }
        }
      }
      ion-refresher-content {
        .refresher-pulling-icon, .refresher-refreshing-icon {
          color: blue;
        }
        .refresher-pulling-text, .refresher-refreshing-text {
          color: blue;
        }
        .refresher-refreshing .spinner-bubbles circle, .refresher-refreshing .spinner-circles circle, .refresher-refreshing .spinner-dots circle {
          fill: blue;
        }
      }

      .error-500 {
        text-align: center;
        img {
          margin-top: 40%;
        }
        h6 {
          color: gray;
        }
      }

      input.searchbar-input {
        border-radius: 50px !important;
      }
      ion-segment {
        .segment-button {
          color: #fff !important;
        }
      }
      .segment-md .segment-button.activated,
      .segment-md .segment-button.segment-activated {
        border-color: #ffffff !important;
        opacity: 1;
      }
    
      .card {
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        .gambar {
          img {
            border-radius: 100px !important;
            margin-top: 20%;
            height: 100px;
            width: 100px;
            max-width: 100px;
            object-fit: cover;
            border-radius: 5px 5px 5px 5px;
          }
        }
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #7a7a7a;
        .info {
          padding-left: 10px;
          overflow: hidden;
          
          ion-label.price {
            //transform: translate(0px, 40px);
            color: #673bb7 !important;
            font-weight: bold;
            font-size: 16px !important;
          }
        }
      }
    
      .booking-not-found {
        text-align: center;
        margin-top: 150px;
        img {
          height: 100px;
          margin-bottom: 30px;
        }
        h5 {
          color: grey;
        }
      }

}
