<ion-header>
  <ion-navbar color="primary">
    <div class="container-notification">
      <div class="greeting">
        <h6 *ngIf="fullName != null">Hai, {{ fullName }}</h6>
      </div>
      <div class="notification" (click)="mNotification()">
        <div class="badge" *ngIf="globalProvider.notif?.count > 0">
          {{globalProvider.notif?.count}}
        </div>
        <ion-icon name="md-notifications"></ion-icon>
      </div>
    </div>
    <div class="atas">
      <ion-title>TRANSAKSI SAYA</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </div>
    <div pb_segment>
      <ion-segment [(ngModel)]="transaction">
        <ion-segment-button value="payment">
          DIBAYAR
        </ion-segment-button>
        <ion-segment-button value="booking">
          DIBOOKING
        </ion-segment-button>
        <ion-segment-button value="checkin">
          CHECKIN
        </ion-segment-button>
        <ion-segment-button value="finish">
          SELESAI
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-navbar>
</ion-header>

<ion-content doff padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"
    refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="httpError == false" [ngSwitch]="transaction">
    <!-- begin Segment To PAYMENT -->
    <div *ngSwitchCase="'payment'">
      <div *ngIf="trxPayment?.length > 0">
        <div *ngFor="let trx of trxPayment">
          <div *ngIf="trx.status == 'DIBAYAR'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId)">
              <div class="gambar"> 
                <img *ngIf="trx.picture != null" src="{{imageData + trx.userId + '/' + trx.picture}}" alt="">
                <img *ngIf="trx.picture == null" src="assets/imgs/default-profil.png" alt="">
              </div>
              <div class="info">
                <ion-label heading>{{trx.fullName}}</ion-label>
                <ion-label>Tanggal Booking: {{ formatDate(trx.date) }}</ion-label>
                <ion-label>Waktu Booking: {{trx.time}}</ion-label>
                <ion-label class="price">{{trx.status}}</ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxPayment?.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPagePayment" (ionInfinite)="doInfinitePayment($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment PAYMENT -->
    <!-- begin Segment BOOKING -->
    <div *ngSwitchCase="'booking'">
      <div *ngIf="trxBooking?.length > 0">
        <div *ngFor="let trx of trxBooking">
          <div *ngIf="trx.status == 'BOOKING'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId)">
              <div class="gambar">
                <img *ngIf="trx.picture != null" src="{{imageData + trx.userId + '/' + trx.picture}}" alt="">
                <img *ngIf="trx.picture == null" src="assets/imgs/default-profil.png" alt="">
              </div>
              <div class="info">
                <ion-label heading>{{trx.fullName}}</ion-label>
                <ion-label>Tanggal Booking: {{ formatDate(trx.date) }}</ion-label>
                <ion-label>Waktu Booking: {{trx.time}}</ion-label>
                <ion-label class="price">{{trx.status}}</ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxBooking.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPageBooking" (ionInfinite)="doInfiniteBooking($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment BOOKING -->
    <!-- begin Segment CHECKIN -->
    <div *ngSwitchCase="'checkin'">
      <div *ngIf="trxCheckin?.length > 0">
        <div *ngFor="let trx of trxCheckin">
          <div *ngIf="trx.status == 'CHECKIN'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId, trx.userId)">
              <div class="gambar">
                <img *ngIf="trx.picture != null" src="{{imageData + trx.userId + '/' + trx.picture}}" alt="">
                <img *ngIf="trx.picture == null" src="assets/imgs/default-profil.png" alt="">
              </div>
              <div class="info">
                <ion-label heading>{{trx.fullName}}</ion-label>
                <ion-label>Tanggal Booking: {{ formatDate(trx.date) }}</ion-label>
                <ion-label>Waktu Booking: {{trx.time}}</ion-label>
                <ion-label class="price">{{trx.status}}</ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxCheckin.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPageCheckin" (ionInfinite)="doInfiniteCheckin($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment CHECKIN -->
    <!-- begin Segment Finish -->
    <div *ngSwitchCase="'finish'">
      <div *ngIf="trxFinish?.length > 0">
        <div *ngFor="let trx of trxFinish">
          <div *ngIf="trx.status == 'SELESAI' || trx.status == 'DITOLAK'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId)">
              <div class="gambar">
                <img *ngIf="trx.picture != null" src="{{imageData + trx.userId + '/' + trx.picture}}" alt="">
                <img *ngIf="trx.picture == null" src="assets/imgs/default-profil.png" alt="">
              </div>
              <div class="info">
                <ion-label heading>{{trx.fullName}}</ion-label>
                <ion-label>Tanggal Booking: {{ formatDate(trx.date) }}</ion-label>
                <ion-label>Waktu Booking: {{trx.time}}</ion-label>
                <ion-label class="price">{{trx.status}}</ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxFinish.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPageFinish" (ionInfinite)="doInfiniteFinish($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment Finish -->
  </div>
  <div *ngIf="httpError == true">
    <div class="error-500">
      <img src="assets/imgs/error-http-500.png" alt="">
      <h6>Tarik ke bawah untuk refresh halaman ini</h6>
    </div>
  </div>

</ion-content>