<ion-header>
  <ion-navbar color="primary">
    <ion-title>UBAH KATA SANDI</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box" mt_30>
    <ion-input type="email" [(ngModel)]="formData.email" hidden></ion-input>

    <ion-item transparent>
      <ion-label floating>Kata Sandi Lama</ion-label>
      <ion-input type="password" [(ngModel)]="formData.oldPassword"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Kata Sandi Baru</ion-label>
      <ion-input type="password" [(ngModel)]="formData.password"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Konfirmasi Kata Sandi Baru</ion-label>
      <ion-input type="password" [(ngModel)]="formData.confirm_password"></ion-input>
    </ion-item>
    <button (click)="doReset()" mt_30 ion-button full>UBAH KATA SANDI</button>
  </div>

</ion-content>