<!--
  Generated template for the HelpCenterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>PUSAT BANTUAN</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="list" (click)="openWA()">
    <div class="wa">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </div>
    <ion-label ml_10>Chat melalui WhatsApp</ion-label>
  </div>
  <div class="list" (click)="callNumber()">
    <div class="pc">
      <ion-icon name="md-call"></ion-icon>
    </div>
    <ion-label ml_10>Telepon dengan Telepon Cellular</ion-label>
  </div>

</ion-content>