page-help-center {
    ion-content {
        .list {
            margin-top: 3%;
            border-bottom: solid thin lightslategray;
            display: flex;
            .wa {
                background-color: limegreen;
                height: 50px;
                width: 50px;
                border-radius: 50px;
                margin-left: 3%;
                text-align: center;
                margin-bottom: 2%;
                margin-top: 2%;
                ion-icon {
                    font-size: 2.5em;
                    margin-top: 13%;
                    color: white;
                }
            }
            .pc {
                background-color: blue;
                height: 50px;
                width: 50px;
                border-radius: 50px;
                margin-left: 3%;
                text-align: center;
                margin-bottom: 2%;
                margin-top: 2%;
                ion-icon {
                    font-size: 2.5em;
                    margin-top: 13%;
                    color: white;
                }
            }
            ion-label {
                margin-left: 3%;
                margin-top: 6%;
                font-weight: bold;
            }
        }
    }

}
