<input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />

<ion-header>
  <ion-navbar color="primary">
    <ion-title>PROFILE</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"
    refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>
  <div class="cover">
    <div class="photo">
      <img id="checkinImage" src="assets/imgs/cover.jpg">
    </div>
    <div class="pp" (click)="goViewPhoto(globalProvider.pathImage(imageData))">
      <img id="checkinImage" [src]="globalProvider.pathImage(imageData)">
    </div>
    <div class="camera" (click)="optionUpload()">
      <button ion-button>
        <ion-icon name="camera"></ion-icon>
      </button>
    </div>
    <div class="edit" (click)="goUpdateProfile()">
      <button ion-button>
        <ion-icon name="create"></ion-icon>
      </button>
    </div>
  </div>

  <div class="content">
    <ion-list>
      <ion-item>
        <h3>No. Identitas</h3>
        <p>{{ user?.userId }}</p>
      </ion-item>
      <ion-item>
        <h3>Nama Lengkap</h3>
        <p>{{ user?.fullName }}</p>
      </ion-item>
      <ion-item>
        <h3>Email</h3>
        <p>{{ user?.email }}</p>
      </ion-item>
      <ion-item>
        <h3>Jenis Kelamin</h3>
        <p>{{ user?.gender }}</p>
      </ion-item>
      <ion-item>
        <h3>No.Hp</h3>
        <p>{{ user?.phone }}</p>
      </ion-item>
      <ion-item>
        <h2>Alamat</h2>
        <p>{{ user?.address }}</p>
      </ion-item>
      <ion-item (click)="goResetPassword()">
        <h2>Ubah Kata Sandi</h2>
        <ion-icon class="arrow-icon" name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="user?.role == 1" (click)="goBuildingProfile(user?.buildingId, user?.role)">
        <h2>Profil Gedung Saya</h2>
        <ion-icon class="arrow-icon" name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
      <ion-item>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <div class="logout">
    <button ion-button (click)="logout()">LOGOUT</button>
  </div>
</ion-footer>