page-user-profil {
    ion-refresher-content {
        .refresher-pulling-icon, .refresher-refreshing-icon {
          color: blue;
        }
        .refresher-pulling-text, .refresher-refreshing-text {
          color: blue;
        }
        .refresher-refreshing .spinner-bubbles circle, .refresher-refreshing .spinner-circles circle, .refresher-refreshing .spinner-dots circle {
          fill: blue;
        }

    }

    .cover{
        position: relative;
        .photo{
            img{
                height: 200px;
                width: 100%;
                object-fit: cover;
            }
        }
        .camera{
            position: absolute;
            left: 100px;
            bottom: 65px;
            button{
                border-radius: 40px;
                height: 40px;
                width: 40px;
                background-color: white;
                ion-icon{
                    font-size: 25px !important;
                    color: color($colors,btn-primary) !important;
                }
            }
        }
        .pp{
            position: absolute;
            left: 15px;
            bottom: 60px;
            img {
                max-width: 100%;
                border: 0;
                height: 120px;
                width: 120px;
                object-fit: cover;
                border-radius: 120px;
                border: white solid;
                background: white;
            }
        }
        .edit{
            text-align: right;
            padding-right: 10px;
            button{
                background-color: color($colors,btn-primary) !important;
                ion-icon{
                    font-size: 20px !important;
                }
            }
        }
        .arrow-icon {
            color: blue !important;
        }
    }

    .logout{
       text-align: center;
    //    color: color($colors,btn-primary) !important;
        .button {
            border-radius: 5px;
            width: 90%;
            padding: 10px;
            border-color: color($colors,btn-primary) !important;
            color: white;
            border-radius: 20px;
        }
    }

}
