<!--
  Generated template for the RejectTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>TOLAK TRANSAKSI</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android, windows">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box" mt_30>

    <ion-item transparent>
      <ion-label floating>Penjelasan</ion-label>
      <ion-input type="text" [(ngModel)]="formUpdate.notes"></ion-input>
    </ion-item>

    <button (click)="doRejectTrx()" mt_30 ion-button full>TOLAK TRANSAKSI</button>
  </div>
</ion-content>
