<!--
  Generated template for the DetailTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <div class="atas">
      <ion-title>BOOKING GEDUNG</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="list building-name">
      <ion-thumbnail item-left>
        <img src="{{srcImage + photoId + '/' + profil}}" alt="">
      </ion-thumbnail>
      <div class="info">
        <ion-label heading>{{ buildingName }}</ion-label>
        <ion-label line_2>{{ address }}</ion-label>
      </div>
    </div>

  <div class="box" mt_30>
    <ion-item class="item-no-padding">
      <ion-label position="stacked" class="lbl-date">
        <h5>TANGGAL BOOKING</h5>
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [min]="bookingDate" [max]="year + 1" pickerFormat="DD/MM/YYYY"
        [(ngModel)]="bookingDate"></ion-datetime>
    </ion-item>
    <ion-item class="item-no-padding">
      <ion-label position="stacked" class="lbl-date">
        <h5>WAKTU BOOKING</h5>
      </ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="bookingTime"></ion-datetime>
    </ion-item>
    <ion-item transparent>
      <ion-label floating>CATATAN</ion-label>
      <ion-input type="text" [(ngModel)]="formData.notes"></ion-input>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <div class="btn-book">
    <button ion-button (click)="doCheckout()">
      <!-- <button ion-button (click)="goPayment()"> -->
      BOOKING
    </button>
  </div>
</ion-footer>