page-checkout-transaction {
    ion-content {
        .list {
            border-bottom: thin solid lightgrey;
            padding: 10px;
            .title {
                color: gray;
            }
            img {
                height: 80px;
                margin-bottom: 15px;
                margin-right: 15px;
                max-width: 150px;
                object-fit: cover;
            }
            .info {
                overflow: hidden;
            }
              
        }

        .building-name {
            display: flex;
        }   
    }

    ion-footer {
        .btn-book {
            text-align: center;
            .button {
                width: 95%;
                padding: 10px;
                color: color($colors,btn-primary) !important;

                .button-inner {
                    color: white;
                }
            }
        }
    }
}
