page-list-transaction {
  ion-navbar.toolbar.toolbar-md {
    padding: 10px 10px 0px 0px;
    .atas {
      display: flex;
      //flex-direction: row-reverse;
      align-items: center;
      button {
        position: absolute;
      }
      ion-title {
        padding-left: 50px;
      }
    }
  }
  ion-refresher-content {
    .refresher-pulling-icon, .refresher-refreshing-icon {
      color: blue;
    }
    .refresher-pulling-text, .refresher-refreshing-text {
      color: blue;
    }
    .refresher-refreshing .spinner-bubbles circle, .refresher-refreshing .spinner-circles circle, .refresher-refreshing .spinner-dots circle {
      fill: blue;
    }
  }
  input.searchbar-input {
    border-radius: 50px !important;
  }
  ion-segment {
    .segment-button {
      color: #fff !important;
    }
  }
  .segment-md .segment-button.activated,
  .segment-md .segment-button.segment-activated {
    border-color: #ffffff !important;
    opacity: 1;
  }

  .notes {
    color: darkgray;
  }
  .card {
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #7a7a7a;
    .card-info {
      display: flex;
      .gambar {
        img {
          height: 100px;
          width: 100px;
          max-width: 100px;
          object-fit: cover;
          border-radius: 5px 5px 5px 5px;
        }
      }
      .info {
        padding-left: 10px;
        overflow: hidden;
        
        ion-label.price {
          //transform: translate(0px, 40px);
          color: #673bb7 !important;
          font-weight: bold;
          font-size: 16px !important;
        }
      }
    }
    .not-rated {
      text-align: center;
      h6 {
        color: lightslategrey;
      }

    }
    
    
  }

  .booking-not-found {
    text-align: center;
    margin-top: 150px;
    img {
      height: 100px;
      margin-bottom: 30px;
    }
    h5 {
      color: grey;
    }
  }
 
}
