<ion-header>
  <ion-navbar color="primary">
    <div class="atas">
      <ion-title>TRANSAKSI</ion-title>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </div>
    <div pb_segment>
      <ion-segment [(ngModel)]="transaction">
        <ion-segment-button value="toPay">
          CHECKOUT
        </ion-segment-button>
        <ion-segment-button value="verification">
          DIBAYAR
        </ion-segment-button>
        <ion-segment-button value="booking">
          BOOKING
        </ion-segment-button>
        <ion-segment-button value="finish">
          SELESAI
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-navbar>
</ion-header>

<ion-content doff padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="transaction">
    <!-- begin Segment To Pay -->
    <div *ngSwitchCase="'toPay'">
      <div *ngIf="trxCheckout?.length > 0">
        <div *ngFor="let trx of trxCheckout">
          <div *ngIf="trx.status == 'CHECKOUT'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId)">
              <div class="card-info">
                <div class="gambar">
                  <img src="{{imageData + trx.photoId + '/' + trx.profil}}" alt="">
                </div>
                <div class="info">
                  <ion-label heading>{{trx.buildingName}}</ion-label>
                  <ion-label>Tanggal Booking: {{formatDate(trx.date)}}</ion-label>
                  <ion-label class="price">{{trx.price | currency:'IDR '}}</ion-label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxCheckout?.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPageCheckout" (ionInfinite)="doInfiniteCheckout($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment To Pay -->
    <!-- begin Segment Verification -->
    <div *ngSwitchCase="'verification'">
      <h6 *ngIf="user?.role == 2 && trxPayment?.length > 0" text-center class="notes">* Estimasi 24 jam untuk
        memverifikasi
        pembayaran, harap tunggu verifikasi dari pengelola gedung</h6>
      <div *ngIf="trxPayment?.length > 0">
        <div *ngFor="let trx of trxPayment">
          <div *ngIf="trx.status == 'DIBAYAR'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId)">
              <div class="card-info">
                <div class="gambar">
                  <img src="{{imageData + trx.photoId + '/' + trx.profil}}" alt="">
                </div>
                <div class="info">
                  <ion-label heading>{{trx.buildingName}}</ion-label>
                  <ion-label>Tanggal Booking: {{formatDate(trx.date)}}</ion-label>
                  <ion-label class="price">{{trx.price | currency:'IDR '}}</ion-label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxPayment.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPagePayment" (ionInfinite)="doInfinitePayment($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment Verification -->
    <!-- begin Segment Booking -->
    <div *ngSwitchCase="'booking'">
      <div *ngIf="trxBooking?.length > 0">
        <div *ngFor="let trx of trxBooking">
          <div *ngIf="trx.status == 'BOOKING' || trx.status == 'CHECKIN'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId)">
              <div class="card-info">
                <div class="gambar">
                  <img src="{{imageData + trx.photoId + '/' + trx.profil}}" alt="">
                </div>
                <div class="info">
                  <ion-label heading>{{trx.buildingName}}</ion-label>
                  <ion-label>Tanggal Booking: {{formatDate(trx.date)}}</ion-label>
                  <ion-label class="price">{{trx.price | currency:'IDR '}}</ion-label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxBooking.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPageBooking" (ionInfinite)="doInfiniteBooking($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment Booking -->
    <!-- begin Segment Finish -->
    <div *ngSwitchCase="'finish'">
      <div *ngIf="trxFinish?.length > 0">
        <div *ngFor="let trx of trxFinish">
          <div *ngIf="trx.status == 'SELESAI' || trx.status == 'DITOLAK'">
            <div class="card" (click)="goDetail(trx.transactionId, trx.buildingId)">
              <div class="card-info">
                <div class="gambar">
                  <img src="{{imageData + trx.photoId + '/' + trx.profil}}" alt="">
                </div>
                <div class="info">
                  <ion-label heading>{{trx.buildingName}}</ion-label>
                  <ion-label>Tanggal Booking: {{formatDate(trx.date)}}</ion-label>
                  <ion-label class="price">{{trx.price | currency:'IDR '}}</ion-label>
                </div>
              </div>
              <div class="not-rated" *ngIf="trx.status == 'SELESAI' && trx.rated == 0">
                <h6>*Anda belum memberikan penilaian, ayo berikan penilaian mu sekarang!</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- validation data null -->
      <div *ngIf="trxFinish.length == 0">
        <div class="booking-not-found">
          <div><img src="assets/imgs/booking-not-found.png"></div>
          <div>
            <h5>Belum ada data transaksi</h5>
            <h5 *ngIf="user?.role == 2">Ayo booking gedung!</h5>
          </div>
        </div>
      </div>
      <ion-infinite-scroll *ngIf="formDataTrx.page < totalPageFinish" (ionInfinite)="doInfiniteFinish($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
    <!-- end Segment Finish -->
  </div>
</ion-content>