page-register-management {
  ion-content {
      background: linear-gradient(#3010d2 50%, white 65%);
  
      .box {
        background-color: white;
        // -webkit-box-shadow: 10px 10px #ffffff;
        box-shadow: 0 2px 2px silver;
        padding: 20px 10px;
        border-radius: 10px;
      }
      .uploadimage {
        button.disable-hover.button.button-md.button-default.button-default-md {
          box-shadow: none !important;
          font-size: 30px;
          color: color($colors, primary);
          background: transparent !important;
        }
        img#checkinImage {
          border-radius: 200px;
          width: 90px;
          height: 90px;
          object-fit: cover;
        }
      }
  
      .logo {
        height: 150px;
        position: relative;
        top: 15px;
      }
  
      .heading {
        color: lightgrey;
      }
  
      .button {
        background-color: color($colors,btn-primary) !important;
      }

      .button-full-md {
        border-radius: 30px;
      }

      .tNc {
        display: flex;
        margin-top: 20%;
        margin-bottom: -10%;
        .checkbox {
          margin-right: 5%;
          margin-top: 4%;
        }
      }
  }
}
