<input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />

<ion-header>
</ion-header>

<ion-content padding>
  <div mt_50 class="container" text-center>
    <img src="assets/imgs/logo-1.png" alt="" class="logo">
    <ion-label heading class="heading">REGISTRASI</ion-label>
    <ion-label heading class="heading">PENGELOLA GEDUNG</ion-label>
  </div>


  <div class="box" mt_30>

    <ion-item transparent>
      <ion-label floating>No. Identitas (KTP / SIM)</ion-label>
      <ion-input type="text" [(ngModel)]="formData.userId"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Nama Lengkap</ion-label>
      <ion-input type="text" [(ngModel)]="formData.fullName"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="formData.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label white floating>Jenis Kelamin</ion-label>
      <ion-select white [(ngModel)]="formData.gender">
        <ion-option value="Male">Laki - Laki</ion-option>
        <ion-option value="Female">Perempuan</ion-option>
      </ion-select>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Alamat</ion-label>
      <ion-textarea [(ngModel)]="formData.address"></ion-textarea>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>No. Hp</ion-label>
      <ion-input type="number" [(ngModel)]="formData.phone"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Kata Sandi</ion-label>
      <ion-input type="password" [(ngModel)]="formData.password"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Konfirmasi Kata Sandi</ion-label>
      <ion-input type="password" [(ngModel)]="formData.confirm_password"></ion-input>
    </ion-item>

    <div class="tNc">
      <ion-checkbox checked="false" [(ngModel)]="tNc"></ion-checkbox>
      <ion-label>Saya setuju dengan <span text_danger>Syarat & Ketentuan</span><br> yang berlaku</ion-label>
    </div>
    
    <button *ngIf="tNc == true" (click)="doRegist()" mt_30 ion-button full class="button">DAFTAR</button>
    <!-- <button *ngIf="tNc == true" (click)="goRegistBuilding()" mt_30 ion-button full class="button">DAFTAR</button> -->
    <button *ngIf="tNc == false" mt_30 ion-button full class="button" disabled="true">DAFTAR</button>
    
    <ion-label text-center mt_30>Anda memiliki akun? <span text_danger (click)="goLogin()">Masuk</span></ion-label>
  </div>

</ion-content>