// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

div[pb_segment] {
  padding: 10px 10px 5px 10px;
}

[heading] {
  font-size: 20px !important;
  font-weight: bold !important;
  color: color($colors, text-primary);
}
[line_2] {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

[small_heading] {
  font-size: 15px !important;
  font-weight: bold !important;
  color: color($colors, text-primary);
}

[text_danger] {
  color: color($colors, danger);
}

ion-item[transparent] {
  padding: 0 18px;
  background: transparent !important;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    outline: none !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
[mt_5] {
  margin-top: 5px !important;
}

[mt_10] {
  margin-top: 10px;
}

[mt_30] {
  margin-top: 30px;
}

[mt_50] {
  margin-top: 50px;
}

[ml_10] {
  margin-top: 10px;
}

img[mr_5] {
  margin-right: 5px;
}

ion-content[doff] {
  background-color: #fefefe;
}

ion-label[heading] {
  font-size: 20px !important;
  font-weight: bold !important;
}

ion-label[ml_10] {
  margin-left: 10px;
}

ion-icon[mr_10] {
  margin-right: 10px;
}

// #region Baris kata

[height_2] {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  line-height: 20px;
}

// #endregion

.profile {
  background: color($colors, primary);
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  .circle {
    .right{
      border-radius: 200%;
      border: 20px solid rgba(57, 56, 56, 0.14);
      height: 200px;
      width: 200px;
      position: absolute;
      top: -104px;
      right: -107px;
    }
  }
  img {
    width: 90px;
    height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 200%;
    border: 5px solid white;
  }
  ion-label {
    color: white !important;
    font-size: 18px !important;
  }
}

.devider {
  border-bottom: 1px solid grey;
}
