<ion-menu [content]="content" type="overlay">



  <ion-content>
    <div class="profile">
      <div class="circle">
        <div class="right"></div>
      </div>
      <img src="{{imageData}}" alt="">
      <ion-label>{{user?.fullName}}</ion-label>
    </div>
    <ion-list padding>
      <button *ngFor="let side of pages" (click)="openPage(side)" menuClose ion-item>
        <ion-icon [name]="side.icon" item-start></ion-icon>
        {{side.title}}
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
      <div class="devider"></div>
      <button (click)="logout()" ion-item >
        <ion-icon ios="ios-power" md="md-power" item-start></ion-icon>
        Keluar
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>