<ion-header>
  <ion-navbar color="primary">
    <ion-title>UPDATE PROFILE</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="box" mt_30>
    <ion-item transparent>
      <ion-label floating>Full Name</ion-label>
      <ion-input type="email" [(ngModel)]="formData.fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label white floating>Gender</ion-label>
      <ion-select white [(ngModel)]="formData.gender">
        <ion-option value="Male">Male</ion-option>
        <ion-option value="Female">Female</ion-option>
      </ion-select>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Phone</ion-label>
      <ion-input type="text" [(ngModel)]="formData.phone"></ion-input>
    </ion-item>

    <ion-item transparent>
      <ion-label floating>Address</ion-label>
      <ion-input type="text" [(ngModel)]="formData.address"></ion-input>
    </ion-item>

    <button (click)="doUpdate()" mt_30 ion-button full>UPDATE</button>
  </div>

</ion-content>