page-update-profile {
    ion-content {
        // background: linear-gradient(0deg, rgba(38, 3, 104, 0.751) 0%, rgba(255, 255, 255, 1) 56%);
        background: linear-gradient(#3010d2 35%, white 65%);
    
        .box {
          background-color: white;
          // -webkit-box-shadow: 10px 10px #ffffff;
          // box-shadow: -1px 1px 8px -2px #673bb7;
          box-shadow: 0 2px 2px silver;
          padding: 20px 10px;
          border-radius: 10px;
        }
    
        .heading {
          color: lightgrey;
        }
    
        .button {
          background-color: color($colors,btn-primary) !important;
        }
    }
}


