maps-component{
  #map {
    width: 100%;
    height: 80%;
  }
  .searchLocation{
    width: 100%;
    padding: 10px;
    /* height: 25px; */
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
