<ion-header>
  <ion-navbar color="primary">
    <ion-title>DETAIL GEDUNG</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"
    refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>

  <div class="gambar" *ngIf="httpError == false">
    <div class="gambar_utama">
      <img src="{{ srcImage + dataBuilding.photoId + '/' + primaryImage}}" alt="">
    </div>
    <div class="gambar_kecil">
      <div class="img_frame">
        <img src="{{ srcImage + dataBuilding.photoId + '/' + dataBuilding?.profil}}" alt=""
          (click)="primaryImage = dataBuilding.profil">
        <img *ngIf="dataBuilding.pict1 != null" src="{{ srcImage + dataBuilding.photoId + '/' + dataBuilding.pict1}}"
          alt="" (click)="primaryImage = dataBuilding.pict1">
        <img *ngIf="dataBuilding.pict2 != null" src="{{ srcImage + dataBuilding.photoId + '/' + dataBuilding.pict2}}"
          alt="" (click)="primaryImage = dataBuilding.pict2">
        <img *ngIf="dataBuilding.pict3 != null" src="{{ srcImage + dataBuilding.photoId + '/' + dataBuilding.pict3}}"
          alt="" (click)="primaryImage = dataBuilding.pict3">
        <img *ngIf="dataBuilding.pict4 != null" src="{{ srcImage + dataBuilding.photoId + '/' + dataBuilding.pict4}}"
          alt="" (click)="primaryImage = dataBuilding.pict4">
      </div>
    </div>
  </div>
  <div class="segment" *ngIf="httpError == false">
    <ion-segment [(ngModel)]="dgedung">
      <ion-segment-button value="detail">
        DETAIL
      </ion-segment-button>
      <ion-segment-button value="review">
        PENILAIAN
      </ion-segment-button>
      <ion-segment-button value="booking">
        DAFTAR BOOKING
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="content" *ngIf="httpError == false">
    <div [ngSwitch]="dgedung">
      <!-- begin, Segment Detail -->
      <div *ngSwitchCase="'detail'">
        <div>
          <ion-label heading>{{ dataBuilding?.buildingName }}</ion-label>
          <ion-label no-margin height_2>{{ dataBuilding?.address }}</ion-label>
          <div class="route">
            <ion-label mt_5 no-margin (click)="launchRute()">LIHAT RUTE</ion-label>
          </div>
        </div>

        <div class="rating-head">
          <ion-label heading>Penilaian</ion-label>
          <div class="star">
            <!-- Begin, Validation rate -->
            <div *ngIf="dataBuilding.rate != null" class="star">
              <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline"
                halfStarIconName="star-half-outline" activeColor="#ffcb0e" defaultColor="#3b3b3b" readonly="true"
                halfStar="true" rating="{{ dataBuilding?.rate }}" fontSize="32px">
              </ionic3-star-rating>
              <ion-label no-margin class="rating">&#40;{{ dataBuilding?.rate }}&#41;</ion-label>
            </div>
            <div *ngIf="dataBuilding.rate == null" class="star">
              <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline"
                halfStarIconName="star-half-outline" activeColor="#ffcb0e" defaultColor="#3b3b3b" readonly="true"
                halfStar="true" rating="{{0}}" fontSize="32px">
              </ionic3-star-rating>
              <ion-label no-margin class="rating">&#40;{{ 0 }}&#41;</ion-label>
            </div>

          </div>
        </div>
        <!-- <ion-label no-margin>Dari 105 ulasan</ion-label> -->

        <div class="kapasitas">
          <ion-label heading no-margin>Kapasitas</ion-label>
          <ion-label mt_5 no-margin>{{ dataBuilding?.capacity }} Orang</ion-label>
        </div>

        <div class="fasilitas">
          <ion-label heading>Fasilitas</ion-label>
          <ul type="square">
            <li *ngIf="dataBuilding?.f1">{{ dataBuilding?.f1 }}</li>
            <li *ngIf="dataBuilding?.f2">{{ dataBuilding?.f2 }}</li>
            <li *ngIf="dataBuilding?.f3">{{ dataBuilding?.f3 }}</li>
            <li *ngIf="dataBuilding?.f4">{{ dataBuilding?.f4 }}</li>
            <li *ngIf="dataBuilding?.f5">{{ dataBuilding?.f5 }}</li>
            <li *ngIf="dataBuilding?.f6">{{ dataBuilding?.f6 }}</li>
            <li *ngIf="dataBuilding?.f7">{{ dataBuilding?.f7 }}</li>
            <li *ngIf="dataBuilding?.f8">{{ dataBuilding?.f8 }}</li>
            <!-- <li>Tea</li>
              <li>Milk</li> -->
          </ul>
        </div>

        <div class="more-info">
          <ion-label heading no-margin>Info Selengkapnya</ion-label>
          <p>{{ dataBuilding?.moreInfo }}</p>
        </div>
      </div>
      <!-- end, Segment Detail -->
      <div *ngSwitchCase="'review'">
        <!-- start, Segment Review -->
        <div *ngIf="rateReview?.length > 0">
          <div class="list" *ngFor="let rr of rateReview">
            <div class="user">
              <ion-avatar item-left>
                <img *ngIf="rr.picture != null" src="{{srcImageUser + rr.userId + '/' + rr?.picture}}" alt="">
                <img *ngIf="rr.picture == null" src="assets/imgs/default-profil.png" alt="">
              </ion-avatar>
              <div class="review">
                <h6 class="name" item-left>{{ rr?.fullName }}</h6>
                <div class="star">
                  <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffcb0e"
                    defaultColor="#3b3b3b" readonly="true" rating="{{ rr?.rate }}" fontSize="25px">
                  </ionic3-star-rating>
                </div>
                <h6 item-left>{{ rr?.comment }}</h6>
                <ion-label class="date">{{ formatDate(rr?.rateDate) }}</ion-label>
              </div>
            </div>
          </div>
        </div>
        <!-- Start, Validation rate&review is null -->
        <div *ngIf="rateReview?.length == 0" class="rate-review">
          <img src="assets/imgs/rate&review-not-yet.png" alt="">
          <h5>Belum ada Penilaian</h5>
          <h5 *ngIf="formDataBooking.role == 2">Ayo booking gedung dan berikan penilaianmu!</h5>
        </div>
        <!-- End, Validation rate&review is null -->
      </div>
      <ion-infinite-scroll *ngIf="formData.page < totalPage" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <!-- end, Segment Review -->
      <div *ngSwitchCase="'booking'">
        <div *ngIf="dataBooking?.length > 0">
          <div class="list-book" *ngFor="let booking of dataBooking">
            <div class="user">
              <ion-avatar item-left>
                <img *ngIf="booking.picture != null" src="{{srcImageUser + booking.userId + '/' + booking?.picture}}"
                  alt="">
                <img *ngIf="booking.picture == null" src="assets/imgs/default-profil.png" alt="">
              </ion-avatar>
              <div class="booking-info">
                <h6 class="name" item-left>{{ booking?.fullName }}</h6>

                <ion-grid>
                  <ion-row>
                    <ion-col col-sm-6 class="title">Tanggal Booking:</ion-col>
                    <ion-col col-sm-6 class="title">Waktu Booking:</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>{{ formatDate(booking?.date) }}</ion-col>
                    <ion-col col-6>{{ booking?.time}}</ion-col>
                  </ion-row>
                </ion-grid>
                <h6 class="status">Status : {{ booking?.status}}</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Start, Validation List Booking is null -->
        <div *ngIf="dataBooking?.length == 0">
          <div class="validation-booking">
            <img src="assets/imgs/booking-not-found.png">
            <h5>Belum ada data booking</h5>
            <h5 *ngIf="formDataBooking.role == 2">Ayo booking gedung sekarang!</h5>
          </div>

        </div>
        <!-- End, Validation List Booking is null -->
        <ion-infinite-scroll *ngIf="formDataBooking.page < totalPageBooking" (ionInfinite)="doInfiniteBooking($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
      <!-- end, Segment Booking -->
    </div>
  </div>
  <div *ngIf="httpError == true">
    <div class="error-500">
      <img src="assets/imgs/error-http-500.png" alt="">
      <h6 *ngIf="locationError == true">Error saat mendeteksi lokasi anda</h6>
      <h6>Tarik ke bawah untuk refresh halaman ini</h6>
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="dgedung =='detail' && httpError == false">
  <ion-toolbar>
    <div class="edit-building" *ngIf="formDataBooking.role == 1">
      <button ion-button outline (click)="goUpdateBuilding()">UBAH PROFIL GEDUNG</button>
    </div>
    <div class="myfooter" *ngIf="formDataBooking.role == 2">
      <div class="price">
        <ion-label heading>{{ dataBuilding?.price | currency:'IDR ' }}</ion-label>
      </div>
      <div class="tombol">
        <button ion-button (click)="goCheckout()">BOOKING</button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>