page-detail {
    ion-refresher-content {
        .refresher-pulling-icon, .refresher-refreshing-icon {
          color: blue;
        }
        .refresher-pulling-text, .refresher-refreshing-text {
          color: blue;
        }
        .refresher-refreshing .spinner-bubbles circle, .refresher-refreshing .spinner-circles circle, .refresher-refreshing .spinner-dots circle {
          fill: blue;
        }

      }
      
    .gambar {
        .gambar_utama {
            img {
                height: 200px;
                width: 100%;
                object-fit: cover;
            }
        }
        .gambar_kecil {
            .img_frame {
                display: flex;
                margin: 10px 3px;
                overflow-x: scroll;

                img {
                    width: 80px;
                    height: 60px;
                    margin: 0px 5px;
                    object-fit: cover;
                }
            }
        }
    }
    .segment {
        background-color: color($colors, primary);
        padding: 3px 5px;
        ion-segment-button.segment-button.segment-activated {
            color: white !important;
            border-color: white !important;
        }
        ion-segment-button.segment-button {
            color: white !important;
        }
    }
    .content {
        padding: 10px;
        
        .rating-head {
            ion-label {
                margin-bottom: -3%;
            }
        }
        .route {
            ion-label {
                text-align: center;
                font-weight: bold;
                color: color($colors,btn-primary) !important;
            }
        }
        .star {
            display: flex;
            margin-top: 5px;
            // #region STAR RATING
            ion-icon.icon.icon-md.ion-ios-star {
                font-size: 24px !important;
            }
            ion-icon.icon.icon-md.ion-ios-star-outline {
                font-size: 24px !important;
            }
            ion-icon.icon.icon-md.ion-ios-star-half{
                font-size: 24px !important;
                color: rgb(255, 203, 14)!important;
            }
            .ionic3-star-rating {
                margin-left: -10px;
            }
            .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
                margin-right: -10px;
            }
            // #endregion STAR RATING
            ion-label.rating {
                margin-left: 10px;
                color: orange !important;
                font-size: 18px;
                align-self: center;
                margin-bottom: -1%;
            }
        }
        .kapasitas {
            margin-top: 15px;
        }
        .fasilitas {
            ul {
                margin-top: -5px;
                line-height: 25px;
            }
        }

        .more-info {
            margin-bottom: 1%;
        }

        .list {
            border-bottom: solid lightgray;
            margin-bottom: 10px;
            .user {
                display: flex;
                img {
                    max-width: 100%;
                    border: 0;
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 20px;
                    margin-right: 10px;
                }
                .review {
                    width: 100%;
                    margin-left: 3%;
                }
                .date {
                    text-align: right;
                }
                .name {
                    color: grey;
                }

                ion-label {
                    color: gray;
                }

                ion-avatar {
                    margin-left: 2%;
                }
            }
        }

        .rate-review {
            text-align: center;
            img {
                max-width: 100%;
                border: 0;
                height: 150px;
            }
            h5 {
                color: gray;
            }
        }

        .validation-booking {
            text-align: center;
            margin-top: 5%;
            img {
                height: 100px;
            }
            h5 {
                color: gray;
            }
        }
        .list-book {
            border-bottom: solid lightgray;
            margin-bottom: 10px;
            .user {
                display: flex;
                img {
                    max-width: 100%;
                    border: 0;
                    height: 40px;
                    width: 40px;
                    object-fit: cover;
                    border-radius: 20px;
                    margin-right: 10px;
                }
                .name {
                    color: grey;
                }

                ion-label {
                    color: gray;
                }
            }

            .booking-info {
                width: 100%;
                h6 {
                    margin-left: 10px;
                }

                .status {
                    color: color($colors,btn-primary) !important;
                    text-align: right;
                    margin-right: 3%;
                }

                .title {
                    color: gray;
                }
            }
        }
    }

    .error-500 {
        text-align: center;
        img {
          margin-top: 40%;
        }
        h6 {
          color: gray;
        }
      }

    .list-date {
        background-color: gray;
        height: 23px;
        margin-bottom: 5%;
        h6 {
            padding: 2px 2px 2px 5px;
            color: white;
        }
    }

    .myfooter{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        .price{
            ion-label{
                color: color($colors,btn-primary) !important;
            }
        }
        .button {
            background-color: color($colors,btn-primary) !important;
        }
    }

    .edit-building {
        text-align: center;
        .button {
            width: 95%;
            border-radius: 20px;
        }
    }
}
