<!--
  Generated template for the ShortPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>URUTKAN BERDASARKAN</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <div (click)="applySorting('popular')" class="list">
    <ion-label >Highest Popularity</ion-label>
    <div class="sort-selected">
      <ion-icon *ngIf="sortBy == 'popular'" name="checkmark"></ion-icon>
    </div>
  </div> -->
  <div (click)="applySorting('distance')" class="list">
    <ion-label >Terdekat Dari Saya</ion-label>
    <div class="sort-selected">
      <ion-icon *ngIf="sortBy == 'distance'" name="checkmark"></ion-icon>
    </div>
  </div>
  <div (click)="applySorting('lowPrice')" class="list">
    <ion-label >Harga Terendah</ion-label>
    <div class="sort-selected">
      <ion-icon *ngIf="sortBy == 'lowPrice'" name="checkmark"></ion-icon>
    </div>
  </div>
  <div (click)="applySorting('highPrice')" class="list">
    <ion-label >Harga Tertinggi</ion-label>
    <div class="sort-selected">
      <ion-icon *ngIf="sortBy == 'highPrice'" name="checkmark"></ion-icon>
    </div>
  </div>
  <div (click)="applySorting('rating')" class="list">
    <ion-label>Rating Tertinggi</ion-label>
    <div class="sort-selected">
      <ion-icon *ngIf="sortBy == 'rating'" name="checkmark"></ion-icon>
    </div>
  </div>
  
  <!-- <div (click)="applySorting('highRating')" class="ion-padding"
    style="border-bottom: 1px solid #d4d4d4;background:white">
    <ion-label class="ion-text-left">Highest Rating</ion-label>
    <div class="ion-float-end">
      <ion-icon *ngIf="sort == 'highRating'" color="secondary" name="checkmark-circle-outline"></ion-icon>
    </div>
  </div> -->

</ion-content>
<ion-footer>
  <div class="btn-reset">
    <button ion-button outline (click)="reset()">
      RESET
    </button>
  </div>
</ion-footer>