page-short {
    ion-content {
        .list {
            display: flex;
            margin-top: 15px;
            border-bottom: 1px solid #d4d4d4;
            padding-left: 4%;
            .sort-selected {
                margin-right: 5%;
                ion-icon {
                    font-size: 250%;
                    color: color($colors,btn-primary) !important;
                }
            }
        }
    }

    ion-footer {
        .btn-reset {
            text-align: center;
            .button {
                border-radius: 30px;
                width: 90%;
                padding: 10px;
                border-color: color($colors,btn-primary) !important;
                color: color($colors,btn-primary) !important;
            }
        }
    }


}
