page-filter {
    background: hsla(0, 0%, 0%, 0.387);
    ion-content {
        background-color: transparent !important;
        border-radius: 30px 30px 0 0 !important;
    }
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        /* background: red; */
        top: 0;
    }
    // background-color: transparent;
    .content_filter {
        // background: #00000052;
        height: 100vh;
        .content_filter_box {
            background: white;
            transform: translateY(50%);
            height: fit-content;
            padding: 0 20px 20px 20px;
            border-radius: 20px 20px 0 0;
            .holder {
                padding: 25px 0 30px 0;
                .bar {
                    width: 50px;
                    border: 3px solid #b5b4b4;
                    border-radius: 20px;
                    margin: 0 auto;
                }
            }
            ion-label.filter {
                font-size: 20px !important;
                font-weight: bold;
                text-align: center;
            }
            .content_filter_box_price {
                margin: 30px 0;
                ion-label.price {
                    font-size: 18px !important;
                    font-weight: bold;
                    text-align: center;
                }
                .range {
                    .range_layout {
                        display: flex;
                        justify-content: space-between;
                        .range_min_price {
                            ion-label.min {
                                text-align: right;
                            }
                            ion-label.current_price {
                                color: #673bb7 !important;
                                font-size: 16px !important;
                                font-weight: 600;
                            }
                        }
                        .range_max_price {
                            ion-label.max {
                                text-align: right;
                            }
                            ion-label.current_price {
                                color: #673bb7 !important;
                                font-size: 16px !important;
                                font-weight: 600;
                            }
                        }
                    }
                    .range_current_price {
                        text-align: center;
                        color: color($colors, primary) !important;
                        font-size: 16px !important;
                        font-weight: 600;
                    }
                }
            }
            .content_filter_box_capacity {
                ion-label.capacity {
                    font-size: 18px !important;
                    font-weight: bold;
                    text-align: center;
                }
                .box_capacity{
                    display: flex;
                    border: 1px solid grey;
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 10px;
                    input.text-input.text-input-md,
                    input.text-input.text-input-ios {
                        text-align: center;
                    }
                    .people{
                        display: flex;
                        img{
                            margin-right: 10px;
                        }
                    }
                }
                .bottom {
                    display: flex;
                    margin-top: 30px;
                    justify-content: center;
                    button.disable-hover.button.button-md.button-default.button-default-md,
                    button.disable-hover.button.button-ios.button-default.button-default-ios {
                        width: 50%;
                        border-radius: 5px !important;
                    }
                    button.disable-hover.button.button-md.button-outline.button-outline-md.button-outline-md-secondary,
                    button.disable-hover.button.button-ios.button-outline.button-outline-ios.button-outline-ios-secondary {
                        width: 50% !important;
                        border-radius: 5px !important;
                    }
                }
            }
        }
    }
}
