<ion-content>
  <div class="overlay" (click)="closeModal()"></div>
  <div class="content_filter">
    <div class="content_filter_box">
      <div class="holder">
        <div class="bar"></div>
      </div>
      <ion-label class="filter" no-margin>FILTER BERDASARKAN</ion-label>
      <div class="content_filter_box_price">
        <ion-label class="price" color="primary">Harga</ion-label>
        <div class="range">
          <!-- <div class="range_layout">
            <div class="range_min_price">
              <ion-label class="min">Min Price</ion-label>
              <ion-label class="current_price">0</ion-label>
            </div>
            <div class="range_max_price">
              <ion-label class="max">Max Price</ion-label>
              <ion-label class="current_price">10.000.000</ion-label>
            </div>
          </div> -->
          <ion-range [(ngModel)]="price" min="0" max="50000000" color="secondary" step="100000"
            (ionChange)="logPrice()"></ion-range>
          <div class="range_current_price">
            {{ price | currency:'IDR '}}
          </div>
        </div>
      </div>
      <div class="content_filter_box_capacity">
        <ion-label class="capacity" >Kapasitas Maksimal</ion-label>

        <div class="box_capacity">
          <ion-input type="number" [(ngModel)]="capacity"></ion-input>
          <div class="people">
            <img src="assets/icon/people.svg" alt="">
            <ion-label>Orang</ion-label>
          </div>
        </div>
        <div class="bottom">
          <button ion-button outline color="secondary" (click)="doReset()">RESET</button>
          <button ion-button color="secondary" (click)="doFilter()">Filter</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>




