<!--
  Generated template for the UserRateModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>PENILAIAN GEDUNG</ion-title>
    <ion-buttons start>
      <button ion-button (click)="goListTrx()">
        <ion-icon class="closed" name="md-close" showWhen="android, windows">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="illu">
    <img src="assets/imgs/Review.png" alt="">
  </div>

  <ion-label class="rate">Bagaimana penilaian Anda <br> Untuk Gedung ini?</ion-label>
  <div mt_30 class="star">
    <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffcb0e"
      defaultColor="#3b3b3b" readonly="false" rating="0" fontSize="32px" (ratingChanged)="logRatingChange($event)">
    </ionic3-star-rating>
  </div>

  <div class="input-text">
    <ion-label>Tulis Komentar :</ion-label>
    <ion-textarea placeholder="Masukan teks disini"[(ngModel)]="formRate.comment"></ion-textarea>
    <p>* Penilaian anda sangat berarti bagi kami</p>
    <button mt_30 ion-button full (click)="inputRateReview()">KIRIM</button>
  </div>

</ion-content>