page-user-rate-modal {
    .closed {
        font-size: 1.8em;
    }
    .illu {
        margin-top: 50px;
        text-align: center;
    }
    ion-label.rate {
        font-size: 20px !important;
        text-align: center;
        color: color($colors, text-primary) !important;
        line-height: 35px;
    }
    .star {
        text-align: center;
        ion-icon.icon.icon-md.ion-ios-star {
            font-size: 40px !important;
        }
        ion-icon.icon.icon-md.ion-ios-star-outline {
            font-size: 40px !important;
        }
    }
    .ionic3-star-rating {
        margin-left: -10px;
    }
    .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
        margin-right: 20px;
    }

    .input-text {
        padding: 20px;
        ion-label {
            color: color($colors, text-primary);
        }
        textarea.text-input.text-input-md {
            padding: 10px 5px;
        }
        .input-cover {
            border: 1px solid grey;
        }
        p {
            text-align: center;
            color: blue;
        }
        button {
            background-color: color($colors, btn-primary);
            border-radius: 5px;
        }
    }
}
