<ion-header>
  <ion-navbar color="primary">
    <div class="container-notification">
      <div class="greeting">
        <h5 *ngIf="fullName != null">Hai, {{fullName}}</h5>
      </div>
      <div class="notification" (click)="mNotification()">
        <div class="badge" *ngIf="globalProvider.notif?.count > 0">
          {{globalProvider.notif?.count}}
        </div>
        <ion-icon name="md-notifications"></ion-icon>
      </div>
    </div>
    <div class="atas">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-searchbar placeholder="Cari Gedung..." [formControl]="search"></ion-searchbar>
    </div>
  </ion-navbar>
</ion-header>

<ion-content doff padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"
    refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="data_building?.length > 0">
    <div *ngFor="let building of data_building">
      <div class="card" (click)="goDetail(building.buildingId)">
        <div class="gambar">
          <img src="{{srcImg + building.photoId + '/'+ building.profil}}" alt="">
        </div>
        <div class="info">
          <ion-label line_2 heading>{{building.buildingName}}</ion-label>
          <ion-label line_2 no-margin>{{building.address}}</ion-label>
          <!-- Begin, Validation rate -->
          <div *ngIf="building.rate != null">
            <div mt_10 class="star">
              <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline"
                halfStarIconName="star-half-outline" activeColor="#ffcb0e" defaultColor="#3b3b3b" readonly="true"
                halfStar="true" rating="{{building.rate}}" fontSize="25px" (ratingChanged)="logRatingChange($event)">
              </ionic3-star-rating>
              <div>
                <ion-label ml_10 class="rating-label">&#40;{{building.rate}}&#41;</ion-label>
              </div>
            </div>
          </div>
          <div *ngIf="building.rate == null">
            <div mt_10 class="star">
              <ionic3-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffcb0e"
                defaultColor="#3b3b3b" readonly="true" rating="{{0}}" fontSize="25px"
                (ratingChanged)="logRatingChange($event)">
              </ionic3-star-rating>
              <div>
                <ion-label ml_10 class="rating-label">&#40;{{0}}&#41;</ion-label>
              </div>
            </div>
          </div>
          <!-- End, Validation rate -->
          <!-- <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#488aff" defaultColor="red" readonly="true" [rating]="rating"></ionic3-star-rating> -->
          <div class="distance">
            <ion-icon name="ios-pin"></ion-icon>
            <ion-label ml_10>{{building.distance}} Km</ion-label>
          </div>
          <ion-label class="price">{{building.price | currency:'IDR '}}</ion-label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data_building?.length == 0">
    <div class="building-not-found">
      <img src="assets/imgs/building-not-found.png" alt="">
      <h6>Data gedung tidak ditemukan</h6>
    </div>
  </div>
  <div *ngIf="httpError == true">
    <div class="error-500">
      <img src="assets/imgs/error-http-500.png" alt="">
      <h6 *ngIf="locationError == true">Error saat mendeteksi lokasi anda</h6>
      <h6>Tarik ke bawah untuk refresh halaman ini</h6>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="formData.page < totalPage" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<!-- <ionFooter>
  <ionToolbar>
    <div class="filter">
      <ion-icon name="md-funnel"></ion-icon>
      <ion-label>Filter</ion-label>
    </div>
  </ionToolbar>
</onFooter> -->
<ion-footer>
  <ion-toolbar color="transparent">
    <button ion-button>
      <div class="filter" (click)="mFilter()">
        <ion-icon name="md-funnel"></ion-icon>
        <ion-label>Filter</ion-label>
      </div>
    </button>
    <button ion-button>
      <div class="short" (click)="mSort()">
        <ion-icon name="ios-funnel"></ion-icon>
        <ion-label>Sort</ion-label>
      </div>
    </button>
  </ion-toolbar>
</ion-footer>