page-home-user {
    ion-navbar.toolbar.toolbar-md {
      padding: 10px 10px 10px 0px;

      .container-notification{
        height: 50px;
        width: 100%;
        display: flex;
        .greeting {
          margin-right: 3%;
          margin-bottom: 3%;
          position: absolute;
          left: 3%;
          top: 5%;

          h5 {
            color: white;
          }
        }
        .notification {
          margin-right: 3%;
          margin-bottom: 3%;
          position: absolute;
          right: 1%;
          ion-icon {
            font-size: 2.0em;
            color: white;
          }
        }
        .badge {
          background-color: red;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          text-align: center;
          line-height: 15px;
          position: relative;
          top: 14px;
          font-size: 14px;
          color: blue;
          right: 7px;
        }

      }
        .atas {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }
    }
      input.searchbar-input {
        border-radius: 50px !important;
      }
      ion-segment {
        .segment-button {
          color: #fff !important;
        }
      }
      .segment-md .segment-button.activated,
      .segment-md .segment-button.segment-activated {
        border-color: #ffffff !important;
        opacity: 1;
      }
      ion-refresher-content {
        .refresher-pulling-icon, .refresher-refreshing-icon {
          color: blue;
        }
        .refresher-pulling-text, .refresher-refreshing-text {
          color: blue;
        }
        .refresher-refreshing .spinner-bubbles circle, .refresher-refreshing .spinner-circles circle, .refresher-refreshing .spinner-dots circle {
          fill: blue;
        }

      }
      
      .card {
        margin-bottom: 20px;
        overflow: hidden;
        .gambar {
          flex: none;
          img {
            height: 230px;
            max-width: 150px;
            object-fit: cover;
            border-radius: 5px 0px 0px 5px;
          }
        }
        background: #fff;
        padding: 10px;
        display: flex;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #7a7a7a;
        .info {
          padding-left: 10px;
          overflow: hidden;
          .star {
            display: flex;
            // #region STAR RATING
            ion-icon.icon.icon-md.ion-ios-star {
              font-size: 24px !important;
            }
            ion-icon.icon.icon-md.ion-ios-star-outline {
              font-size: 24px !important;
            }
            ion-icon.icon.icon-md.ion-ios-star-half{
              font-size: 24px !important;
              color: rgb(255, 203, 14)!important;
            }

            .rating-label {
              margin-top: 12px;
              margin-left: 13px;
            }
            // #endregion STAR RATING
          }
          // .ionic3-star-rating {
          //   margin-left: -5px;
          //   margin-top: 5px;
          // }
          .distance {
            display: flex;
              ion-icon{
                font-size: 1.6em;
                color: color($colors,btn-primary) !important;
              }
              ion-label {
                color: color($colors,btn-primary) !important;
                margin-top: 4%;
                font-weight: bold;
              }
          }

          ion-label.price {
            transform: translate(0px, 40px);
            color: #673bb7 !important;
            font-weight: bold;
            font-size: 16px !important;
            margin: -15% 0px 0px 0px;
          }
        }
      }
      .ionic3-star-rating {
        margin-left: -10px;
      }
      .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
        margin-right: -10px;
      }

      .building-not-found {
        text-align: center;
        img {
          margin-top: 40%;
          height: 100px;
        }
        h6 {
          color: gray;
        }
      }

      .error-500 {
        text-align: center;
        img {
          margin-top: 40%;
        }
        h6 {
          color: gray;
        }
      }
    
      ion-footer {
        .toolbar-content.toolbar-content-md {
          display: flex;
          place-content: center;
          .button-md {
            background: white !important;
            box-shadow: none !important;
            border-radius: 0px;
            overflow: unset;
            height: none;
            margin: 0;
            padding: 0;
          }
    
          .filter {
            margin-right: 5px;
            display: flex;
            right: -10px;
            bottom: 50px;
            width: 100px;
            background: linear-gradient(
              260deg,
              rgba(0, 199, 255, 1) 0%,
              rgba(110, 136, 244, 1) 56%,
              rgba(167, 103, 239, 1) 100%
            );
            /* background: blue; */
            /* text-align: center; */
            /* padding-left: 10px; */
            color: white;
            padding: 10px;
            padding: 10p;
            border-radius: 10px 0px 0px 10px;
            ion-label {
              margin: 0;
              margin-left: 10px;
              font-size: 16px;
            }
          }
    
          .short {
            display: flex;
            right: -10px;
            bottom: 50px;
            width: 100px;
            background: linear-gradient(
              -260deg,
              rgba(0, 199, 255, 1) 0%,
              rgba(110, 136, 244, 1) 56%,
              rgba(167, 103, 239, 1) 100%
            );
            /* background: blue; */
            /* text-align: center; */
            /* padding-left: 10px; */
            color: white;
            padding: 10px;
            padding: 10p;
            border-radius: 0px 10px 10px 0px;
            ion-label {
              margin: 0;
              margin-left: 10px;
              font-size: 16px;
            }
          }
        }
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation: portrait) {
        .gambar {
          img {
            width: 110px !important;
          }
        }
      }
}
