<!--
  Generated template for the DetailTransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <div class="atas">
      <ion-title>PEMBAYARAN</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="list">
      <ion-label>TOTAL PEMBAYARAN</ion-label>
      <h5 class="price">{{ price | currency:'IDR ' }}</h5>
      <ion-label class="title">* Estimasi 24 jam untuk verifikasi pembayaran</ion-label>
    </div>
    <div class="list notes">
      <div>
        <ion-badge item-left>1</ion-badge>
      </div>
      <h6 class="title">Gunakan Internet Banking atau ATM untuk melakukan pembayaran melalui transfer antar bank ke rekening berikut:</h6>
    </div>
    <div class="list">
      <ion-label>Bank</ion-label>
      <h5 class="price">{{ bank }}</h5>
    </div>
    <div class="list">
      <ion-label>NO REKENING</ion-label>
      <h5 class="price">{{ accountNumber }}</h5>
    </div>
    <div class="list">
      <ion-label>NAMA PEMILIK REKENING</ion-label>
      <h5 class="price">{{ accountName }}</h5>
    </div>
    <div class="list notes">
      <div>
        <ion-badge item-left>2</ion-badge>
      </div>
      <h6 class="title">Mohon upload gambar bukti pembayaran dari halaman konfirmasi Internet Banking atau resi ATM</h6>
    </div>
    <div class="list notes">
      <div>
        <ion-badge item-left>3</ion-badge>
      </div>
      <h6 class="title">Demi keamanan transaksi Anda, jangan pernah membagikan bukti pembayaran atau konfirmasi pembayaran apa pun 
        kepada siapa pun selain mengunggah melalui Aplikasi Sewa Gedung</h6>
    </div>
  <div class="btn-pay">
    <button ion-button color="secondary" (click)="optionUpload()">
      UPLOAD BUKTI PEMBAYARAN SEKARANG
    </button>
    <button (click)="uploadLater()" ion-button color="secondary" outline>
      UPLOAD BUKTI PEMBAYARAN NANTI
    </button>
  </div>
</ion-content>