page-upload-payment {
    ion-content {
        .list {
            border-bottom: thin solid lightgrey;
            padding: 10px;
            padding-top: 0px;
            padding-left: 20px;
            .title {
                color: gray;
            }
            img {
                height: 80px;
                margin-bottom: 15px;
                margin-right: 15px;
                max-width: 150px;
                object-fit: cover;
            }
            .info {
                overflow: hidden;
            }
            .price {
                color: color($colors,btn-primary) !important;
            }
        }

        .notes {
            background-color: lavenderblush;
            display: flex;
            padding-top: 15px;

            .badge {
                height: 30px;
                width: 30px;
                padding-top: 8px;
                border-radius: 20px;
            }

            h6 {
                margin-top: 0px;
                margin-left: 10px;
            }
        }

        .btn-pay {
            text-align: center;
            padding-top: 5px;
            .button {
                width: 95%;
                padding: 10px;
            }
        }
    }
}
